<section class="bg-main-light shadow p-2 my-2 rounded-4">
    <h1 class="text-center text-main my-2">{{ 'forgot-password.forgot_password_title' | translate }}</h1>
    
    @if (step == 1) {
        <form [formGroup]="verifyEmail" class="p-3" (ngSubmit)="VerifyEmailSubmit()">
            <div class="my-2">
                <label for="email">{{ 'forgot-password.email_label' | translate }}</label>
                <input id="email" type="email" class="form-control" formControlName="email" (blur)="AutofillResetPasswordEmail()" [ngClass]="
                {
                    'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
                    'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
                }">
                @if (verifyEmail.get("email")?.errors && (verifyEmail.get("email")?.touched || verifyEmail.get("email")?.dirty)) {
                    <div class="alert alert-danger w-50 m-0">
                        @if (verifyEmail.get("email")?.getError("required")) {
                            <p>{{ 'forgot-password.email_required' | translate }}</p>
                        }@else if(verifyEmail.get("email")?.getError("email")) {
                            <p>{{ 'forgot-password.invalid_email' | translate }}</p>
                        }
                    </div>
                }
            </div>
            
            <button [disabled]="verifyEmail.invalid || isLoading" class="btn-main">
                {{ 'forgot-password.verify_email_button' | translate }}
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }@else if (step == 2) {
        <form [formGroup]="verifyCode" class="p-3" (ngSubmit)="VerifyResetCodeSubmit()">
            <div class="my-2">
                <label for="code">{{ 'forgot-password.reset_code_label' | translate }}</label>
                <input type="text" id="code" class="form-control" formControlName="resetCode" [ngClass]="
                {
                    'is-valid': !verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty),
                    'is-invalid': verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)
                }">
                @if (verifyCode.get("resetCode")?.errors && (verifyCode.get("resetCode")?.touched || verifyCode.get("resetCode")?.dirty)) {
                    <div class="alert alert-danger w-50 m-0">
                        @if (verifyCode.get("resetCode")?.getError("required")) {
                            <p>{{ 'forgot-password.code_required' | translate }}</p>
                        }@else if(verifyCode.get("resetCode")?.getError("pattern")) {
                            <p>{{ 'forgot-password.code_pattern_error' | translate }}</p>
                        }
                    </div>
                }
            </div>
            <button [disabled]="verifyEmail.invalid || isLoading" class="btn-main">
                {{ 'forgot-password.verify_code_button' | translate }}
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }@else if (step == 3) {
        <form [formGroup]="resetPassword" class="p-3" (ngSubmit)="ResetPasswordSubmit()">
            <div class="my-2">
                <label for="email">{{ 'forgot-password.email_label' | translate }}</label>
                <input id="email" type="email" class="form-control" formControlName="email" [ngClass]="
                {
                    'is-valid': !resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty),
                    'is-invalid': resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)
                }">
                @if (resetPassword.get("email")?.errors && (resetPassword.get("email")?.touched || resetPassword.get("email")?.dirty)) {
                    <div class="alert alert-danger w-50 m-0">
                        @if (resetPassword.get("email")?.getError("required")) {
                            <p>{{ 'forgot-password.email_required' | translate }}</p>
                        }@else if(resetPassword.get("email")?.getError("email")) {
                            <p>{{ 'forgot-password.invalid_email' | translate }}</p>
                        }
                    </div>
                }
            </div>
            <div class="my-2">
                <label for="password">{{ 'forgot-password.new_password_label' | translate }}</label>
                <input id="password" type="password" class="form-control" formControlName="newPassword" [ngClass]="
                {
                    'is-valid': !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
                    'is-invalid': resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)
                }">
                @if (resetPassword.get("newPassword")?.errors && (resetPassword.get("newPassword")?.touched || resetPassword.get("newPassword")?.dirty)) {
                    <div class="alert alert-danger w-50 m-0">
                        @if (resetPassword.get("newPassword")?.getError("required")) {
                            <p>{{ 'forgot-password.password_required' | translate }}</p>
                        }@else if(resetPassword.get("newPassword")?.getError("pattern")) {
                            <p>{{ 'forgot-password.password_pattern_error' | translate }}</p>
                        }
                    </div>
                }
            </div>
            
            <button [disabled]="verifyEmail.invalid || isLoading" class="btn-main">
                {{ 'forgot-password.reset_password_button' | translate }}
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }
</section>
